body {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 10, 30, 1) 100%);
}

.canvas-fireworks {
    display: block;
    cursor: crosshair;
}

.popup {
    position: absolute;

    width: auto;
    max-width: 400px;

    height: auto;

    padding: 20px;

    z-index: 2;

    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0.5;

    border: none;
    border-radius: 5px;

    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    cursor: help;
    transition: all ease 0.5s;

    &:hover {
        opacity: 1;
    }

    &--top-left {
        top: 20px;
        left: 20px;
    }

    &--top-right {
        top: 20px;
        right: 20px;
    }

    &--bottom-left {
        bottom: 20px;
        left: 20px;
    }

    &--bottom-right {
        bottom: 20px;
        right: 20px;
    }

    &__heading {
        font-size: 1.2em;
        font-weight: 600;
        margin-bottom: 20px;
    }
}